html {
    --z-primary-theme: #0F0F0F;
    --z-secondary-theme: #555;
    --z-primary-font-color:#fff;
    --mask-color: #00000066;
    --loading-primary-color: #ff359b;
    --loading-secondary-color: #00dfff;
    --loading-last-color: #98FB98;
    --login-box-mask:#0F0F0F16;
}