html {
    --z-primary-theme: #F8F9F9;
    --z-secondary-theme: #D0D3D4;
    --z-primary-font-color:#333;
    --mask-color: #00000066;
    --loading-primary-color: #ff359b;
    --loading-secondary-color: #00dfff;
    --loading-last-color: #98FB98;
    --login-box-mask:#f1f4f916;
}