:root{
    overflow-y: overlay;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    color: #333 !important;
    font-size: 14px !important;
    background-color:#0F0F0F !important;
    overflow-y: overlay;
    overflow-x: hidden;
    }

    /*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width:12px;
    height:12px;
    background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#555;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
}