@font-face {
    font-family: 'LongCang';
    src: url('./fonts/summer.otf') format("opentype");
  }

:root{
    overflow-y: overlay;
    overflow-x: hidden;
    --is-hover:false;
    font-family: 'LongCang',sans-serif;
}
body{
    scroll-behavior: smooth !important;
    width: 100vw;
    height: 100vh;
    font-weight: 500;
    color: var(--z-primary-font-color) !important;
    font-size: 14px !important;
    background-color:var(--z-primary-theme) !important;
    overflow-y: overlay;
    overflow-x: hidden;
    }

    /*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width:12px;
    height:12px;
    background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:var(--z-secondary-theme);
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
}

/* 只有支持hover，媒体查询才会生效 */
@media (any-hover: hover){
    html{
      --is-hover:true !important;
    }
}


